
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
    
}
ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  
}

a {
    text-decoration: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
  align-items: center;
  justify-items: normal;
}
.page-header {
  border-bottom: 1px solid #e7e9fc;
}
.page-header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: first baseline;
 
}
.header-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

}
.header-nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.header-logo {
  padding: 24px 0;
  margin-right: 74px;
}

.header-logo .logo-part {
    color: #2e2f42;
}
.footer-logo .logo-part {
    color: #f4f4fd;
}

.header-nav-link {
 padding: 24px 0;
 display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;    
    color: #2e2f42;
}
.header-nav-link:hover,
.header-nav-link:focus,
.adress-info-link:hover,
.adress-info-link:focus {
    color: #404bbf;
}
.adress-info-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
  .adress-info {
    font-style: normal ;
    margin-left: auto;
    
  }
  .adress-info-link {
    padding: 24px 0;
    display: block;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }
  .main-page {
    background-color: #2e2f42;
   
      height: 600px;
  }
  .main-page-container {
display: block;
align-items: center;
justify-content: center;

  }
  .main-page-name {
    padding-top: 188px ;
    padding-bottom: 48px;
     margin: 0 auto;
    width: 496px;
    font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
  }
  .main-page-btn {
    display: flex;
    flex-direction: row;
    border-radius: 4px;
      padding: 16px 32px;
box-sizing: border-box;
      border-width: 169px;
      margin-bottom: 188px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    cursor: pointer;
  }

 .main-page-btn:hover,
 .main-page-btn:focus{
    background: #404bbf;
 }
 .privilege-container {
  display: flex;
  flex-direction: row;

  width: 1158px;
  gap: 24px;
 }
 .advantages-list {
  display: flex;
  flex-direction: row;
  justify-content: center ;
  padding-top: 120px;
  padding-bottom: 120px;
 margin: 0 auto;
  width: 1128px;
gap: 24px;
  
 }
 .advantages-item {
  width: 264px;
 }
.advantages-name{
  padding-bottom: 8px;
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}
.advantages-descr{
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
  
  
  .specialists {
    background-color: #f4f4fd;

  }
  .specialists-container {
    display: flex;
    flex-direction: row;
    gap: 24px;

  }
  .specalist-team {
    padding-top: 120px;
    padding-bottom: 32px;
    margin: 0 auto;
    text-transform: capitalize;
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
  }
 .specalist-list {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding-bottom: 120px ;
  gap: 24px;
 }
  .specalist-item {
    background-color: #FFFFFF;
    border-radius: 0 0 4px 4px;
      align-items: center;
      justify-content: center;
  }
  .specalist-descr {
    margin: 32px 16px;
    width: 232px;
      height: 56px;
      display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 8px;
  }
    
  .specialist-name {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
  }
  .specialist-post {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
  } 
 
  .application-container {
    display: flex;
    flex-wrap: wrap;
    justify-items: flex-start;
   
  }
  .application-list {
    display: flex;
    flex-wrap: wrap;
     row-gap: 48px;
     align-items: center;
      column-gap: 24px;
    
    justify-content: flex-start;
    padding-bottom: 120px ;
    
  }
  .application {
    font-weight: 700;
    text-transform: capitalize;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    padding-top: 120px;
    padding-bottom: 72px;
    margin: 0 auto;
  }
  .application-item {
    width: 360px;
      height: 420px;
  }
   .application-name-container {
    display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
  border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    width: 360px;
      height: 120px;
     
   }
  .application-name {
  
  padding: 32px 16px 8px;
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
  }
  .application-descr {
  padding: 8px 16px 64px;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
  }

.page-footer-container {
  display: block;
  justify-content: flex-start;
  width: 264px;
  align-items: center;
  padding: 100px 0;
   
}
.footer-logo {
  padding-top: 220px;
 padding-bottom: 16px;
  margin-bottom: 0 auto;
}
  .page-footer {
    background-color: #2e2f42;
    height: 312px;
  }
  
  .footer-advice {
    padding-top: 16px;
    padding-bottom: 100px;
    margin: 0 auto;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
  }
  